@model WorkerModel

@{
    ViewData["Title"] = "watcher/launcher";
}

<h1>Launcher</h1>

<p><a asp-action="Run">run</a></p>
<p><a asp-action="Stop">stop</a></p>

<p>status is <strong>@(Html.DisplayFor(model => model.Status))</strong></p>
