* {
    font-family: 'Calibri';
}

footer
{
    font-family: 'Consolas';
}

body {
    background: #fff;
    padding: 0;
    margin: 0;
}

footer {
    position: relative;
    left: 0px;
    right: 0px;
    bottom: 0px;
    padding: 1% 5%;
    background-color: #124;
    color: #fff;
    font-size: 12pt;
}

/* hide links; */
footer a {
    color: #fff;
    text-decoration: #fff;
}

main {
    width: 90%;
    padding: 1% 5%;
    padding-bottom: 2%;
    font-size: 14pt;
}

main h1 {
    font-size: 28pt;
}

tr,
th,
td {
    padding: 12pt;
}

th {
    background-color: #111;
    color: #fff;
}

th:hover,
tr:hover {
    background-color: #ccc;
}

.launcher {
    color: #fff;
}

.launcher a {
    background-color: #111;
    color: #fff;
    text-decoration: none;
    padding: 12pt
}

.launcher a:first-child
{
    border-right: 1px solid #fff;
    background-color: #484;
}

.launcher a:last-child
{
    background-color: #844;
}
