@model SearchFilter

@{
    //TODO: add config strings;
    ViewData["Title"] = "поисковый запрос";
}

<h1>Фильтр статистики</h1>

<form asp-action="Request">
    <table><tbody>
        <tr>
            <td>
                <label>appName</label>
                <input asp-for="AppName.Value" />
            </td>
        </tr>
    </tbody></table>
</form>

