@model List<AppTimeViewModel>

@if (Model.Count > 0)
{
    <table>
        <thead>
            <tr>
                <th>Приложение</th>
                <th>Проведённое время</th>
                <th>Дата</th>
            </tr>
        </thead>
        <tbody>
        @foreach (var item in Model) {
            <tr>
                <td>
                    @(item.AppName)
                </td>
                <td>
                    @{
                        var timeSpan = TimeSpan.FromSeconds(item.SecondsSpend);
                        string timeResult = string.Format("{0:D2}час. {1:D2}мин. {2:D2}сек.",
                            timeSpan.Hours,
                            timeSpan.Minutes,
                            timeSpan.Seconds);
                        @(timeResult)
                    }
                </td>
                <td>
                    @{
                        var date = item.Timestamp;
                        string dateResult = string.Format("{0:D2}.{1:D2}.{2:D2}",
                            date.Day,
                            date.Month,
                            date.Year);
                        @(dateResult)
                    }
                </td>
            </tr>
        }
        </tbody>
    </table>
}
else
{
    <p>Записей нет</p>
}
