<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>mitheti://@ViewData["Title"]</title>
    <link rel="icon" href="~/icon.png" />
    <link rel="stylesheet" href="~/style.css" />
</head>
<body>
    <header>
        <nav>
            <a asp-area="" asp-controller="Home" asp-action="Index">Mitheti</a>
            <ul>
                <!-- TODO: add localization `json` file -->
                <li><a asp-area="" asp-controller="Home" asp-action="Index">Главная</a></li>
                <li><a asp-area="" asp-controller="Launcher" asp-action="Index">Лаунчер</a></li>
                <li><a asp-area="" asp-controller="Statistic" asp-action="Index">Статистика</a></li>
            </ul>
        </nav>
    </header>
    <main>
        @RenderBody()
    </main>
    <footer> &copy; 2020 - Mitheti by <a href="htps://allan-walpy.github.io/">Andrey Lysenkov aka allan_walpy</a></footer>
</body>
</html>
