@model ErrorViewModel
@{
    ViewData["Title"] = "error";
}

<h1>Error</h1>
<p>Произошла ошибка</p>

@if (Model.ShowRequestId)
{
    <p><strong>Request ID:</strong> <code>@Model.RequestId</code></p>
}
