@model LauncherModel

@{
    ViewData["Title"] = "watcher/launcher";
}

<h1>Лаунчер</h1>

<p class="launcher"><a asp-action="Run">Запустить</a><a asp-action="Stop">Остановить</a></p>

<p>статус службы: <strong>@(Html.DisplayFor(model => model.Status))</strong></p>
